/* @font-face{
    font-family: OpenSans;
    src : url('../fonts/opensans.eot');
    src : url('../fonts/opensans.eot?') format('eot'),
    url('../fonts/opensans.woff') format('woff'),
    url('../fonts/opensans.ttf') format('truetype');
}

@font-face{
    font-family: OpenSans-Bold;
    src : url('../fonts/opensans-bold.eot');
    src : url('../fonts/opensans-bold.eot?') format('eot'),
    url('../fonts/opensans-bold.woff') format('woff'),
    url('../fonts/opensans-bold.ttf') format('truetype');
} */

html {
    font-family: sans-serif;
    font-family: "Inter";
}

h1 {
    font-size: 20px;
    font-weight: bold;
    line-height: 44px;
    margin: 0;
}

h2 {
    font-size: 17px;
    font-weight: bold;
    color: #000;
}

h3 {
    font-size: 14px;
    font-weight: bold;
    color: #000;
}

body {
    font-size: 12px;
}

p {
    color: #888;
}

section {
    font-size: 20px;
    line-height: 44px;
    color: #111;
}

.main-content {
    /* max-width: 900px;
    min-width: 900px; */
    margin: auto;
    padding: 25px;
}

button {
    height: 20px;
    line-height: 40px;
    font-size: 11px;
    margin: auto;
}

body {
    font-size: 11px;
    width: 100%;
    margin: auto;
    text-align: center;
    color: #000;
}

svg {
    margin: 0px;
    padding: 0px;
    /* height: 400px;
    width: 900px; */
}

#navigation {
    background-color: #444444;
    height: 40px;
    line-height: 40px;
}

#header {
    background-color: #333333;
    line-height: 40px;
    color: #fff;
}

a:link {
    color: #3dc9ff;
    text-decoration: none;
}
a:visited {
    color: #3dc9ff;
}
a:hover {
    color: #111111;
}
a:active {
    color: #3dc9ff;
}

/* FORM */
form#interactive-form {
    font-size: 24px;
    line-height: 2.5;
    background: #eee;
    color: black;
    padding: 1em;
    text-align: left;
}

form#interactive-form label {
    display: block;
}

form#interactive-form > div {
    width: fit-content;
    margin: auto;
    display: flex;
    flex-direction: column;
}

form#interactive-form input[type="submit"],
form#interactive-form input[name],
form#interactive-form select[name] {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    border: none;
    border-radius: 4px;
    padding: 5px 8px;
    background-color: white;
    box-shadow: 0 0 2px 1px hsl(0, 0%, 0%, 0.2), 0 0 5px -1px hsl(0, 0%, 0%, 0.2);
    font-weight: bold;
}

form#interactive-form input[type="submit"] {
    align-self: center;
    margin-top: 2em;
    font-size: 20px;
    padding: 0.5ch 1ch;
}

/* Spinner */
.spinner-container {
    display: block;
}

.spinner-container[hidden] {
    opacity: 0;
    visibility: hidden;
}

.spinner {
    display: inline-block;
    width: 1em;
    height: 1em;
    border-radius: 1em;
    border-left: 2px solid currentColor;
    border-right: 2px solid currentColor;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}
