<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/jquery.dataTables.min.css') }}" rel="stylesheet" type="text/css">
    <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}" charset="utf-8"></script>
    <link href="{{ url_for('static', filename='css/nv.d3.css') }}" rel="stylesheet" type="text/css">
    <script src="{{ url_for('static', filename='js/d3.min.js') }}" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/nv.d3.min.js') }}"></script>
    <title>MABED: Mention-anomaly-based Event Detection and Tracking in Twitter</title>
</head>
<body>
    <div id="navigation">

    </div>
    <div id="header">
        <h1>Mention-anomaly-based Event Detection and Tracking in Twitter</h1>
        <p>
            Parameters: k={{ k }}, theta={{ theta }}, sigma={{ sigma }}<br>
            <a href="#event_table">Event table</a> - <a href="#event_impact">Event impact</a>
        </p>
    </div>
    <div class="main-content">
        <section id="event_table">Event table</section>
            <table id="events" class="display" cellspacing="0" width="900px">
                <thead>
                    <tr>
                        <th>Mag</th>
                        <th>Start date</th>
                        <th>End date</th>
                        <th>Main term</th>
                        <th>Related words</th>
                    </tr>
                </thead>
                <tbody>
                    {% for event in events %}
                    <tr>
                        <td>{{ event[0] }}</td>
                        <td>{{ event[1] }}</td>
                        <td>{{ event[2] }}</td>
                        <td>{{ event[3] }}</td>
                        <td>{{ event[4] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        <section id="event_impact">Event impact</section>
        <svg id="chart1" style="height: 700px;"></svg>
        <svg id="chart-style-lines" style="height: 400px;"></svg>
        <svg id="chart-style-lines-mirror" style="height: 400px;"></svg>
    </div>
</body>
<script>
    $(document).ready(function() {
        $('#events').dataTable( {
            "order": [[ 0, 'desc' ]]
        } );
    });
</script>
<script>
    var event_impact = {{ event_impact|safe }}
</script>
<script src="{{ url_for('static', filename='script.js') }}"></script>
</html>